* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
}

.game-container {
    display: flex;
    
    flex-direction: column;

    justify-content: center;
}

.board {
    display: grid;

    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

    gap: 5px;

    width: 320px;
}

.cell {
    display: flex;

    width: 100px;
    height: 100px;

    align-items: center;
    justify-content: center;

    font-size: 36px;
    font-weight: bold;

    background-color: #f0f0f0;

    border: 2px solid black;
    cursor: pointer;
}

.cell:hover {
    background-color: #e0e0e0;
}