:root {
    --pages-link: #22AA99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Play", "Work Sans", "Arial", sans-serif;

    background: black;
}


/* Header */
.header-container {
    border-bottom: 2px solid white;

    display: flex;

    justify-content: space-around;

    align-items: center;

}

.header-container__logo {
    color: white;

    font-weight: bold;
    font-size: 40px;

    padding: 30px 0 30px 20px;
}

.header-container__navbar {
    display: flex;

    justify-content: space-evenly;

    flex: 1;
}

@media (max-width: 810px) {
    .header-container__navbar {
        display: none;
    }

    .header-container{
        justify-content: space-between;
    }
}

.navbar__item {
    color: white;

    font-weight: 600;
    font-size: 32px;

    text-decoration: none;

}

.navbar__item[aria-current="page"] {
    color: transparent;
    background: var(--pages-link);
    background-clip: text;
}

.navbar__item::selection {
    background: white;
    color: black;

}

.header-container__menu {
    margin-right: 30px;
    cursor: pointer;

    margin-left: 30px;
}


/* Main */
.main-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.main-container__board {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: clamp(300px, 50vw, 500px);
    aspect-ratio: 1 / 1;

    margin-top: 15px
}

.board__field {
    display: flex;

    justify-content: center;
    align-items: center;
}

#board__field-01 {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

#board__field-02 {
    border-bottom: 5px solid white;
}

#board__field-03 {
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}

#board__field-04 {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

#board__field-05 {
    border-bottom: 5px solid white;
}

#board__field-06 {
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}

#board__field-07 {
    border-right: 5px solid white;
}

#board__field-09 {
    border-left: 5px solid white;
}

.main-container__button {
    color: white;

    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 600;

    background: none;

    border: 2px solid white;
    border-radius: 10px;

    cursor: pointer;

    margin: 30px 0 15px 0;

    padding: 5px 20px 5px 20px;
}
