:root {
    --pages-link: #22AA99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Play", "Work Sans", "Arial", sans-serif;

    background: black;
}

.white-text-selection::selection {
    background: white;
    color: black;
}

.black-text-selection::selection {
    background: black;
    color: white;
}


/*------------------> Header <------------------*/
.header-container {
    border-bottom: 3px solid white;

    display: flex;

    justify-content: space-between;

    align-items: center;

    height: 110px;
}

.header-container__logo {
    display: flex;

    align-items: center;

    gap: 15px;
    margin-left: 60px;
}

.logo__icon::selection {
    background: transparent;
}

.logo__icon:hover {
    cursor: pointer;
}

.logo__text {
    color: white;

    font-weight: bold;
    font-size: 40px;

    text-decoration: none;
}

.logo__text::selection {
    background: white;
    color: black;
}

.logo__text:hover {
    cursor: pointer;
}


/*------------------> Authorization <------------------*/
.header-container__authorization {
    display: flex;

    gap: 25px;

    margin-right: 60px;
}

.authorization-button {
    visibility: visible;

    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-size: 26px;
    font-weight: bold;

    text-decoration: none;

    border-radius: 25px;
    border: none;

    padding: 8px 30px 8px 30px;

    transition: all ease 0.3s;
}

.authorization-button:hover {
    cursor: pointer;
}

#sign-in {
    background: white;
    color: black;

    border: 4px solid white;
}

#sign-in:hover {
    background: black;
    color: white;

    border: 4px solid white;
}

#sign-in:hover ~ #sign-up {
    background: white;
    color: black;

    border: 4px solid white;
}

#sign-up {
    background: black;
    color: white;

    border: 4px solid white;
}

@media (max-width: 790px) {
    .logo__text {
        display: none;
    }

    .header-container {
        height: 80px;
    }

    .header-container__logo {
        margin-left: 8px;
    }

    .logo__icon {
        width: 60px;
        height: auto;
    }

    .header-container__authorization {
        gap: 15px;
        margin-right: 8px;
    }

    .authorization-button {
        font-size: 22px;
        padding: 6px 20px;
    }
}

/*------------------> Authorized <------------------*/

.aside-container__authorized {
    visibility: hidden;

    position: absolute;
    z-index: 10;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    width: 345px;

    right: 0;
    margin-right: 60px;
    margin-top: 26px;

}

.authorized__account-info {
    display: flex;

    border: 4px solid black;
    border-radius: 25px;
    background: white;

    justify-content: space-between;
    align-items: center;

    width: 345px;
    height: 55px;

    cursor: pointer;
}

.account-info__login {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 32px;

    padding: 0 10px 0 10px;

    border-radius: 25px;

    width: 280px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-left: 5px;

    user-select: text;
}

.account-info__login:active {
    user-select: none;
}


.account-info__image {
    margin-right: 5px;
    border-radius: 50px;
}

.account-info__image::selection {
    background: none;
}

/*------------------> Account Options <------------------*/
.authorized__account-options {
    visibility: hidden;

    border: 4px solid white;
    border-radius: 25px;

    background: black;

    display: flex;
    flex-direction: column;

    margin-top: 5px;

    width: 345px;
}

.account-options__container {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.account-options__upper-container {
    margin-top: 15px;
}

.account-options__lower-container {
    margin-top: 60px;
    margin-bottom: 15px;
}

.account-options__option {
    display: flex;

    align-items: center;
    justify-content: start;

    text-decoration: none;

    margin-left: 10px;

    gap: 10px;
}

.option__link {
    text-decoration: none;
}

.option__image {
    text-decoration: none;
}

.option__image::selection {
    background: none;
}

.option__text {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 32px;

    text-decoration: none;

    color: white;
}

#sign-out-image,
#sign-out-text
{
    cursor: pointer;
}


/*------------------> 1-Main <------------------*/
.main-container {
    position: relative;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

/*------------------> 1-Main Settings <------------------*/
.main-container__settings-container {
    position: absolute;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;

    height: 100%;

    margin-left: 35px;
}

.settings-container__settings {
    display: flex;
    flex-direction: column;

    align-items: center;

    border: 4px solid white;
    border-radius: 25px;

    background: black;
}

.settings__header {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-size: 40px;
    font-weight: bold;

    border-bottom: 3px solid white;
    color: white;

    margin: 10px 37px 25px 37px;
    padding: 0 37px 5px 37px;
}

.settings__params {
    display: flex;

    flex-direction: column;
    align-items: start;

    width: 100%;
    padding: 0 37px;
}

.params__bot-mode {
    display: none;
}

.params__item {
    display: flex;

    justify-content: start;
    align-items: center;

    margin-bottom: 20px;
}

.game-mode__heading {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-size: 26px;
    font-weight: bold;

    color: white;

    margin-right: 15px;
}

.game-mode__variants {
    display: flex;

    align-items: center;

    gap: 15px;
}

.variants__elem {
    display: flex;

    align-items: center;

    gap: 5px;
}

.elem__circle {
    border: 3px solid white;
    border-radius: 50px;

    width: 14px;
    height: 14px;

    cursor: pointer;

    background: black;
}

.elem__text {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: normal;

    color: white;

    cursor: pointer;
}


/*------------------> Board <------------------*/
.main-container__board-container {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.board-container__board {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: clamp(300px, 50vw, 500px);
    aspect-ratio: 1 / 1;

    margin-top: 15px
}

.board__field {
    display: flex;

    justify-content: center;
    align-items: center;
}

#board__field-01 {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

#board__field-02 {
    border-bottom: 5px solid white;
}

#board__field-03 {
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}

#board__field-04 {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

#board__field-05 {
    border-bottom: 5px solid white;
}

#board__field-06 {
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}

#board__field-07 {
    border-right: 5px solid white;
}

#board__field-09 {
    border-left: 5px solid white;
}


/*------------------> Winner <------------------*/

.settings-container__winner-info {
    display: none;

    justify-content: space-evenly;
    align-items: center;

    gap: 10px;

    border: 3px solid white;
    border-radius: 25px;

    background: black;

    margin-top: 20px;
}

.winner-info__text {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 32px;

    color: white;

    margin-left: 10px;
}


.winner-info__reset-button {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;

    border: 3px solid white;
    border-radius: 15px;

    cursor: pointer;

    padding: 5px 30px;

    margin: 8px 8px 8px 0;


    color: black;
    background: white;
}


@media screen and (max-width: 1450px) {
    .main-container{
        width: 80%;
        justify-content: space-between;
    }
    .main-container__settings-container {
        position: relative;
    }
}
@media screen and (max-width: 1252px) {
    .main-container{
        width: 100%;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }
    .main-container__settings-container { margin: 0 }
}
@media screen and (max-width: 980px) {
    .settings__header {
        font-size: 30px;
    }
    .game-mode__heading{
        font-size: 20px;
    }
    .elem__text{
        font-size: 20px;
    }
}

@media screen and (max-width: 380px) {
    .settings__header{
        padding: 0 20px 5px 20px;
    }
    .settings__params{
        padding: 0 20px;
    }
}