* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Play", "Work Sans", "Arial", sans-serif;

    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-text-selection::selection {
    background: white;
    color: black;
}

.black-text-selection::selection {
    background: black;
    color: white;
}

/* Header */
.leaderboard__header-container {
    display: flex;

    margin: 40px 0 60px 0;
}

.header-container__text {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 32px;

    letter-spacing: 5px;
    color: white;

    text-decoration: none;
}

/* Таблица */
#leaderboard {
    width: 1000px;
    border: 4px solid white;

    color: white;
}

.table-head__text {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;

    color: white;

    border-right: 3px solid white;
}

.table-head__text:last-child {
    border-right: none;

}

.table-body__text {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 22px;

    color: white;

    border-right: 3px solid white;

    padding: 3px 0 3px 10px;
}

.table-body__text:last-child {
    border-right: none;
}