* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Play", "Work Sans", "Arial", sans-serif;

    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-text-selection::selection {
    background: white;
    color: black;
}

.black-text-selection::selection {
    background: black;
    color: white;
}

/* Header */
.leaderboard__header-container {
    display: flex;

    margin: 40px 0 30px 0;
}

.header-container__text {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 32px;

    letter-spacing: 5px;
    color: white;

    text-decoration: none;
}

/* Main */
.leaderboard-main__container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

/* Кнопки сортировки */
.main-container__sort-type-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 3px solid white;
    border-radius: 10px;

    margin-bottom: 15px;
}

.sort-button {
    background: none;
    outline: none;

    border: none;
    border-right: 2px solid white;

    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;

    color: white;

    cursor: pointer;

    padding: 2px 5px 2px 5px;
}

.sort-button:last-child {
    border-right: none;
}

/* Таблица */
#leaderboard {
    width: 1000px;
    border: 4px solid white;

    color: white;
}

.table-head__text {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;

    color: white;

    border-right: 3px solid white;
}

.table-head__text:last-child {
    border-right: none;

}

.table-body__text {
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 22px;

    color: white;

    border-right: 3px solid white;

    padding: 3px 0 3px 10px;
}

.table-body__text:last-child {
    border-right: none;
}

/* Пагинация */
.main-container__pagination {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100px;
}

.pagination__chevron {
    cursor: pointer;
}

#pagination-left,
#pagination-right{
    visibility: visible;
}

.pagination__number{
    font-family: "Play", "Work Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: white;
}

